.advantages {
  position: relative;
  margin-bottom: 85px;
  padding-top: 110px;
  padding-bottom: 115px;
  overflow: hidden;

  @include vp-1023 {
    margin-bottom: 91px;
    padding-top: 91px;
    padding-bottom: 101px;
  }

  @include vp-767 {
    margin-bottom: 59px;
    padding-bottom: 67px;
    padding-top: 59px;
  }
}

.advantages__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: $color-solitude;
  z-index: -2;
}

.advantages__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  min-width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  object-fit: cover;
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  color: $color-tangaroa;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  padding: 30px 30px 50px;
  background-color: $color-alice-blue;

  @include vp-1023 {
    padding: 26px 16px 20px 20px;
  }

  @include vp-767 {
    padding-left: 20px;
  }
}

.advantages__item h3 {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding-top: 50px;

  @include fonts(18px, 27px, 500);

  @include vp-1023 {
    padding-top: 45px;
    line-height: 25px;
  }

  @include vp-767 {
    padding-right: 50px;
  }
}

.advantages__item > h3 br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.advantages__item:first-child h3::before {
  @include pseudo(27px, 32px);

  top: 0;
  background-image: url("../img/sprite/liner.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @include vp-1023 {
    width: 21px;
  }
}

.advantages__item:nth-child(2n) h3::before {
  @include pseudo(38px, 32px);

  top: 0;
  background-image: url("../img/sprite/all-inclusive.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @include vp-1023 {
    width: 27px;
  }
}

.advantages__item:last-child h3::before {
  @include pseudo(44px, 32px);

  top: 0;
  background-image: url("../img/sprite/trip.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @include vp-1023 {
    width: 36px;
  }
}

.advantages__item p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.advantages__item:last-child p {
  @include vp-1023 {
    padding-top: 10px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}
