.booking {
  position: relative;
  overflow: hidden;
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 58px;
  }
}

.booking__background {
  position: absolute;
  width: 100%;
  height: 898px;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $color-alice-blue;
  object-fit: cover;

  @include vp-1023 {
    width: 1483px;
    height: 990px;
    top: 0;
    left: -503px;
    max-width: none;
  }

  @include vp-767 {
    width: 1210px;
    height: 807px;
    top: -32px;
    left: -485px;
  }
}

.booking__container {
  display: flex;
  padding: 50px 163px 50px 164px;
  justify-content: space-between;
  align-items: center;

  @include vp-1439 {
    padding: 50px 163px 50px 164px;
  }

  @include vp-1023 {
    padding-top: 88px;
    padding-bottom: 100px;
    flex-direction: column;
  }

  @include vp-767 {
    padding: 58px 15px 65px;
  }
}

.booking__description {
  margin-top: 7px;

  @include vp-1023 {
    margin-top: 0;
    margin-bottom: 52px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.booking__heading {
  margin: 0;
  margin-bottom: 24px;

  @include fonts(40px, 29px, 700, $color-tangaroa);

  @media (max-width: 1300px) {
    margin-right: 50px;
  }

  @include vp-1023 {
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__text {
  margin: 0;
  padding-right: 250px;
  line-height: 27px;
  color: $color-tangaroa;

  @media (max-width: 1300px) {
    padding-right: 50px;
  }

  @include vp-1023 {
    max-width: 352px;
    margin: 0 auto;
    padding-right: 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

.booking__text br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
