.burger {
  display: flex;

  .burger__button {
    position: relative;
    display: none;
    margin-top: 8px;
    border: none;
    background-color: transparent;

    &::after,
    &::before {
      background-color: $color-alice-blue;

      @include pseudo(24px, 2px);
    }

    &::before {
      top: -4px;
      left: 0;
      box-shadow: 0 6px 0 0 $color-alice-blue;
    }

    &::after {
      left: 0;
      bottom: 4px;
    }
  }

  @include vp-767 {
    flex-direction: column;

    .burger__container {
      flex-direction: column;
      align-items: center;
      padding: 0;
      background-color: $color-tangaroa;
    }

    & .burger__wrapper {
      width: 100%;
      background-color: $color-alice-blue;
    }

    & .burger__list {
      overflow: hidden;
      flex-direction: column;
      align-items: center;
    }
  }
}

.burger__wrapper {
  top: 0;
  left: 0;
  transition: $trans-default;
}

.burger__logo {
  margin-right: 20px;
}

.burger--close {
  @include vp-767 {
    flex-direction: row;

    & .burger__container {
      flex-direction: row;
      padding: 20px 15px 84px;
      align-items: flex-start;
      background-color: transparent;
    }

    & .burger__wrapper {
      position: absolute;
      width: 100vw;
      height: 100vh;
      transform: translateX(200%);
      background-color: $color-tangaroa-opacity;
    }

    & .burger__button {
      display: block;
    }
  }
}

.burger--open {
  @include vp-767 {
    flex-direction: row;
    min-height: 68px;

    & .burger__container {
      flex-direction: row;
      padding: 0 15px;
      align-items: flex-start;
      background-color: transparent;
    }

    & .burger__logo {
      position: absolute;
      left: 50px;
      top: 20px;
      z-index: 2;
    }

    & .burger__icon {
      fill: $color-tangaroa;
    }

    & .burger__button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 7px;
      top: 24px;
      width: 24px;
      height: 14px;
      margin-top: 0;
      z-index: 2;

      &::after {
        top: 50%;
        width: 18px;
        background-color: $color-tangaroa;
        transform: rotate(45deg);
      }

      &::before {
        top: 50%;
        width: 18px;
        box-shadow: none;
        background-color: $color-tangaroa;
        transform: rotate(-45deg);
      }
    }

    & .burger__wrapper {
      position: absolute;
      width: 100vw;
      height: 100vh;
      transform: translateX(0%);
      background-color: $color-tangaroa-opacity;
    }

    & .burger__list {
      margin-left: 35px;
      height: 102vh;
      padding: 87px 25px;
      align-items: flex-start;
      background-color: $color-alice-blue;
    }
  }
}
