.contacts__container {
  display: flex;
  padding-bottom: 120px;
  gap: 100px;

  @include vp-1439 {
    padding-bottom: 120px;
  }

  @include vp-1023 {
    padding-bottom: 100px;
    gap: 30px;
  }

  @include vp-767 {
    padding-bottom: 65px;
    flex-direction: column-reverse;
    gap: 35px;
  }
}

.contacts__map {
  width: 560px;
  height: 306px;

  @include vp-1023 {
    min-width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 100%;
    min-width: auto;
    height: 316px;
  }
}

.contacts__background {
  object-fit: cover;

  @include vp-1023 {
    width: 324px;
    height: 355px;
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
  }
}

.contacts__description {
  margin-top: 75px;
  max-width: 500px;

  @include vp-1023 {
    margin-top: 66px;
    max-width: 324px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.contacts__heading {
  margin: 0;
  margin-bottom: 32px;
  text-align: left;

  @include fonts(18px, 27px, 500, $color-tangaroa);

  @include vp-1023 {
    margin-bottom: 27px;
  }
}

.contacts__heading br {
  display: block;

  @include vp-1023 {
    display: none;
  }
}

.contacts__list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 21px;
  list-style-type: none;
}

.contacts__link {
  position: relative;
  display: block;
  padding-left: 28px;
  transition: $trans-default;

  @include fonts(16px, 24px, 400, $color-tangaroa);

  &::before {
    @include pseudo(18px, 18px);

    top: 0;
    left: 0;
  }

  @include hover {
    transform: scale(1.05);
  }
}

.contacts__link--map br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.contacts__link--phone {
  display: inline-block;
  vertical-align: middle;
}

.contacts__link--map .contacts__icon {
  @include vp-1023 {
    top: 5px;
  }
}

.contacts__icon {
  position: absolute;
  left: 0;
}
