.form {
  display: flex;
  max-width: 403px;
  padding: 44px 50px 50px;
  flex-direction: column;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 45px $color-tangaroa-form-opacity;

  h3 {
    margin: 0;
    margin-bottom: 27px;

    @include fonts(18px, 27px, 500, $color-alice-blue);
  }

  input {
    margin-bottom: 20px;
    padding: 11px 16px;
    font-size: 14px;
    line-height: 21px;
    border: none;
    background-color: $color-alice-blue;
  }

  input[type="checkbox"] {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  label:has(input) {
    position: relative;
    margin-bottom: 30px;
    padding: 3px 0 2px;
    padding-left: 24px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    cursor: pointer;
  }

  span {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $color-alice-blue;
  }

  input[type="checkbox"]:checked + span {
    background: $color-alice-blue url("../img/sprite/checkmark.svg") no-repeat 50% 50%;
  }

  label:has(input:focus) {
    outline: 1px solid $color-alice-blue;
  }

  input[type="checkbox"]:focus + span {
    border-color: $color-alice-blue;
  }

  button {
    padding: 15px 0 17px;
    font-size: 14px;
    line-height: 11px;
    font-weight: 600;
    border: none;
    color: $color-tangaroa;
    background-color: $color-alice-blue;
    cursor: pointer;
    user-select: none;
    transition: background-color, color, $trans-default;

    @include hover {
      color: $color-alice-blue;
      background-color: $color-lochmara;
    }
  }

  @include vp-767 {
    padding: 35px 30px 40px;

    h3 {
      margin-bottom: 28px;
      line-height: 25px;
      text-align: center;
    }

    label:has(input) {
      max-width: 180px;
      margin-bottom: 24px;
      padding-left: 28px;
      padding-top: 0;
      line-height: 12px;
    }

    span {
      width: 20px;
      height: 20px;
    }

    button {
      padding: 16px 0;
    }
  }
}
