.main-block {
  position: relative;
  margin-top: -152px;
  margin-bottom: 120px;
  padding: 300px 0 278px;
  padding-top: 308px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  @include vp-1023 {
    margin-top: -150px;
    margin-bottom: 100px;
    padding: 268px 0 275px;
    padding-top: 306px;
  }

  @include vp-767 {
    min-height: 500px;
    margin-top: -170px;
    margin-bottom: 66px;
    padding: 214px 0 178px;
  }
}

.main-block__background {
  position: absolute;
  z-index: -1;
  top: 38px;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: $color-tangaroa;

  @include vp-1023 {
    width: 854px;
    height: 638px;
    max-width: none;
    top: 5px;
    left: 0;
  }

  @include vp-767 {
    width: 758px;
    height: 570px;
    top: 0;
  }
}

.main-block__text {
  padding-left: 95px;

  @include vp-1023 {
    padding-left: 0;
  }
}

.main-block__heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.main-block__subheadeing {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    padding-right: 60px;
    font-size: 16px;
  }
}
